{% extends 'flatpages/default.html' %}

{% load custom_filters %}
<!-- Подключаем новый файл с нашим тегом -->
{% load custom_tags %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>
   <h3>{% current_time '%b %d %Y' %}</h3>
   <h3> {{ post|default_if_none:"Чуть позже сообщим о новостях!" }} </h3>
   <h2>Количество новостей: {{ posts|length }}</h2>

    {% if posts %}
       <table>
           <tr>
              <!--<td>Автор</td>-->
               <td>Текст статьи</td>
               <td>Заголовок</td>
              <!-- <td>Статьи/Новости</td> -->
               <td>Дата публикации</td>
              <!-- <td>Рейтинг</td>-->

           </tr>

           {% for post in posts %}
           <tr>
             <!--<td>{{ post.author|post:'art' }}</td>-->
               <td align="left">{{ post.text|truncatechars:20 }}</td>
               <td align="left">{{ post.title| censor }}</td>
             <!--  <td>{{ post.choice.name }}</td> -->
               <td align="right">{{ post.posting_time }}</td>
             <!--<td>{{ post.post_rating }}</td>-->
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}